
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.container {
    min-height: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
       

}

html,
body {
    height: 100%;
    line-height: 1;
    background: #BFEFFF;
    font-size: 14px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
}

.header-tittle {
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 3vw;
    color: black;

}

.line {

    border-bottom: 0.4em solid grey;
    margin-bottom: 1em;


}

.mem-img {
    display: none;
}

.mem-tittle {
    display: block;
    cursor: pointer;
    position: relative;

}

.mem-input {
    appearance: none;
    width: 0;
    height: 0;
}

.mem-input:checked+.mem-img {
    display: block;
    transition: 0.7s ease-in-out;
}

.mem {
    margin-bottom: 1em;
}

img {
height: 30em;
width: 30em;
object-fit: contain;
}
.mem-tittle:before {
    content: '\276F';
    float: right;
}

.mem-input:hover+.mem-img {
    display: block;
   
}

